[Unit]
Description=whoamip service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/whoamip
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
